services:
  wgpilot:
    build: .
    network_mode: host
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    volumes:
      - wgpilot-data:/var/lib/wgpilot
      - /etc/wgpilot:/etc/wgpilot
    restart: unless-stopped
    sysctls:
      - net.ipv4.ip_forward=1
      - net.ipv4.conf.all.src_valid_mark=1

volumes:
  wgpilot-data:
